.visa {
  width: 700px;
  margin: auto;
}
.textarea {
  height: 500px;
  width: 100%;
}
.visa > h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  padding: 10px 0;
  border-radius: 15px;
  color: white;
}
