.visa {
  width: 700px;
  margin: auto;
}
.textarea {
  height: 500px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.visa > h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  padding: 10px 0;
  border-radius: 15px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  align-items: center;
  margin: auto;
}
.form p {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}
.form p > span {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}
.form p > input,
.form p > select {
  width: 300px;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.yellow {
  color: black;
  background-color: yellow;
  padding: 5px;
}
.button {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid green;
  cursor: pointer;
  margin-bottom: 50px;
}
.button:hover {
  background-color: green;
  color: white;
}
